In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Data Files\\Pollution Data.csv')

print(df.shape)
df.head()

(63104, 11)

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
li_df_columns = list(df.columns)

li_df_columns

['Country',
 'ISO 3166-1 alpha-3',
 'Year',
 'Total',
 'Coal',
 'Oil',
 'Gas',
 'Cement',
 'Flaring',
 'Other',
 'Per Capita']

In [4]:
df.rename(columns={"ISO 3166-1 alpha-3" : "Country Code"}, inplace=True)

In [5]:
dict_df_columns = {"Country" : "VARCHAR(50)", "Country Code" : "VARCHAR(5)", "Year" : "INT", "Total" : "Float", 
                   "Coal" : "Float", "Oil" : "Float", "Gas" : "Float", "Cement" : "Float", "Flaring" : "Float", 
                   "Other" : "Float", "Per Capita" : "Float"}
dict_df_columns

{'Country': 'VARCHAR(50)',
 'Country Code': 'VARCHAR(5)',
 'Year': 'INT',
 'Total': 'Float',
 'Coal': 'Float',
 'Oil': 'Float',
 'Gas': 'Float',
 'Cement': 'Float',
 'Flaring': 'Float',
 'Other': 'Float',
 'Per Capita': 'Float'}

In [6]:
s = f"CREATE TABLE pollution(\n"

for i, k in zip(range(len(dict_df_columns)), dict_df_columns.keys()):
    s += f"{k}\t\t{dict_df_columns[k]}"
    
    if i != len(dict_df_columns) - 1:
        s += ",\n"
    else:
        s += ");"


print(s)

CREATE TABLE pollution(
Country		VARCHAR(50),
Country Code		VARCHAR(5),
Year		INT,
Total		Float,
Coal		Float,
Oil		Float,
Gas		Float,
Cement		Float,
Flaring		Float,
Other		Float,
Per Capita		Float);

In [7]:
df.describe(include="all")

,Country,Country Code,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
count,63104,61472,63104.000000,62904.000000,21744.000000,21717.000000,21618.000000,20814.000000,21550.000000,1620.000000,18974.000000
unique,232,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Afghanistan,KNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,272,544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1885.500000,55.224788,73.968916,55.760624,23.504285,4.330443,1.712695,10.951389,4.413363
std,NaN,NaN,78.519728,824.845435,598.986992,519.034563,247.674772,50.305770,16.727067,39.034073,17.432815
min,NaN,NaN,1750.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,1817.750000,0.000000,0.000000,0.091600,0.000000,0.000000,0.000000,0.520885,0.197866
50%,NaN,NaN,1885.500000,0.000000,0.271852,1.044240,0.000000,0.022756,0.000000,1.255329,1.303949
75%,NaN,NaN,1953.250000,0.549342,6.736411,8.339752,0.581628,0.568502,0.000000,4.385471,5.077994
max,NaN,NaN,2021.000000,37123.850352,15051.512770,12345.653374,7921.829472,1672.592372,439.253991,306.638573,834.192642

In [8]:
s = f"INSERT INTO pollution VALUES "

start = 30000
end = 30004

for i in range(start, end):
    
    ser = df.iloc[i]
    s += "("
    
    for j in range(len(dict_df_columns)):
        
        if pd.isna(ser[j]):
            s += "NULL"
        elif j > 1:
            s += f"{ser[j]}"
        else :
            s += f"'{ser[j]}'"
        
        if j != len(dict_df_columns) - 1:
            s += ", "
    
    if i != end - 1:
        s += "),\n"
    else:
        s += ");"
        
print(s)

INSERT INTO pollution VALUES ('Laos', 'LAO', 1830, 0.0, NULL, NULL, NULL, NULL, NULL, NULL, NULL),
('Laos', 'LAO', 1831, 0.0, NULL, NULL, NULL, NULL, NULL, NULL, NULL),
('Laos', 'LAO', 1832, 0.0, NULL, NULL, NULL, NULL, NULL, NULL, NULL),
('Laos', 'LAO', 1833, 0.0, NULL, NULL, NULL, NULL, NULL, NULL, NULL);

In [9]:
df[df.Country == "Côte d'Ivoire"]

,Country,Country Code,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
12512,Côte d'Ivoire,CIV,1750,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN
12513,Côte d'Ivoire,CIV,1751,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN
12514,Côte d'Ivoire,CIV,1752,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN
12515,Côte d'Ivoire,CIV,1753,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN
12516,Côte d'Ivoire,CIV,1754,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12779,Côte d'Ivoire,CIV,2017,12.001913,0.0,7.547840,4.312528,0.0,0.141545,NaN,0.483013
12780,Côte d'Ivoire,CIV,2018,10.352442,0.0,6.326029,3.929029,0.0,0.097384,NaN,0.406074
12781,Côte d'Ivoire,CIV,2019,10.535084,0.0,6.184832,4.257568,0.0,0.092684,NaN,0.402909
12782,Côte d'Ivoire,CIV,2020,10.963848,0.0,6.318170,4.556792,0.0,0.088886,NaN,0.408919
12783,Côte d'Ivoire,CIV,2021,11.706642,0.0,6.748904,4.929332,0.0,0.028407,NaN,0.426033

In [10]:
s = f"INSERT INTO pollution VALUES "

start = 0
end = 272

for i in range(start, end):
    
    ser = df[df.Country == "Côte d'Ivoire"].iloc[i]
    s += "("
    
    for j in range(len(dict_df_columns)):
        
        if pd.isna(ser[j]):
            s += "NULL"
        elif j > 1:
            s += f"{ser[j]}"
        elif j == 0:
            s += f"'Côte d Ivoire'"
        else:
            s += f"'CIV'"
        
        if j != len(dict_df_columns) - 1:
            s += ", "
        
    if i != end - 1:
        s += "),\n"
    else:
        s += ");"
        
print(s)

INSERT INTO pollution VALUES ('Côte d Ivoire', 'CIV', 1750, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1751, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1752, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1753, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1754, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1755, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1756, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1757, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1758, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1759, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1760, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1761, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1762, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1763, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1764, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1765, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1766, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1767, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1768, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1769, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1770, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1771, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1772, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1773, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1774, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1775, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1776, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1777, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1778, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1779, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1780, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1781, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1782, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1783, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1784, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1785, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1786, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1787, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1788, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1789, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1790, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1791, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1792, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1793, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1794, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1795, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1796, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1797, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1798, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1799, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1800, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1801, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1802, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1803, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1804, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1805, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1806, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1807, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1808, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1809, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1810, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1811, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1812, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1813, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1814, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1815, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1816, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1817, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1818, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1819, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1820, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1821, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1822, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1823, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1824, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1825, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1826, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1827, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1828, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1829, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1830, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1831, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1832, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1833, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1834, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1835, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1836, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1837, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1838, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1839, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1840, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1841, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1842, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1843, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1844, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1845, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1846, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1847, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1848, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1849, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1850, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1851, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1852, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1853, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1854, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1855, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1856, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1857, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1858, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1859, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1860, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1861, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1862, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1863, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1864, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1865, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1866, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1867, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1868, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1869, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1870, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1871, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1872, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1873, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1874, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1875, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1876, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1877, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1878, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1879, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1880, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1881, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1882, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1883, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1884, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1885, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1886, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1887, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1888, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1889, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1890, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1891, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1892, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1893, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1894, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1895, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1896, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1897, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1898, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1899, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1900, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1901, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1902, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1903, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1904, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1905, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1906, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1907, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1908, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1909, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1910, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1911, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1912, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1913, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1914, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1915, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1916, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1917, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1918, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1919, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1920, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1921, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1922, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1923, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1924, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1925, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1926, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1927, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1928, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1929, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1930, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1931, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1932, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1933, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1934, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1935, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1936, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1937, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1938, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1939, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1940, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1941, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1942, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1943, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1944, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1945, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1946, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1947, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1948, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1949, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, NULL),
('Côte d Ivoire', 'CIV', 1950, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, 0.0),
('Côte d Ivoire', 'CIV', 1951, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, 0.0),
('Côte d Ivoire', 'CIV', 1952, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, 0.0),
('Côte d Ivoire', 'CIV', 1953, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, 0.0),
('Côte d Ivoire', 'CIV', 1954, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, 0.0),
('Côte d Ivoire', 'CIV', 1955, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, 0.0),
('Côte d Ivoire', 'CIV', 1956, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, 0.0),
('Côte d Ivoire', 'CIV', 1957, 0.0, NULL, NULL, NULL, 0.0, NULL, NULL, 0.0),
('Côte d Ivoire', 'CIV', 1958, 0.498304, 0.0, 0.498304, 0.0, 0.0, 0.0, NULL, 0.143884),
('Côte d Ivoire', 'CIV', 1959, 0.545936, 0.0, 0.545936, 0.0, 0.0, 0.0, NULL, 0.152471),
('Côte d Ivoire', 'CIV', 1960, 0.461664, 0.0, 0.461664, 0.0, 0.0, 0.0, NULL, 0.124483),
('Côte d Ivoire', 'CIV', 1961, 0.553264, 0.0, 0.553264, 0.0, 0.0, 0.0, NULL, 0.143767),
('Côte d Ivoire', 'CIV', 1962, 0.58624, 0.0, 0.58624, 0.0, 0.0, 0.0, NULL, 0.146623),
('Côte d Ivoire', 'CIV', 1963, 0.62288, 0.0, 0.62288, 0.0, 0.0, 0.0, NULL, 0.149859),
('Côte d Ivoire', 'CIV', 1964, 0.762112, 0.0, 0.762112, 0.0, 0.0, 0.0, NULL, 0.176359),
('Côte d Ivoire', 'CIV', 1965, 1.17248, 0.0, 1.17248, 0.0, 0.0, 0.0, NULL, 0.260963),
('Côte d Ivoire', 'CIV', 1966, 1.238432, 0.0, 1.238432, 0.0, 0.0, 0.0, NULL, 0.265121),
('Côte d Ivoire', 'CIV', 1967, 1.359344, 0.0, 1.359344, 0.0, 0.0, 0.0, NULL, 0.279891),
('Côte d Ivoire', 'CIV', 1968, 1.597504, 0.0, 1.597504, 0.0, 0.0, 0.0, NULL, 0.316331),
('Côte d Ivoire', 'CIV', 1969, 1.890624, 0.0, 1.890624, 0.0, 0.0, 0.0, NULL, 0.359766),
('Côte d Ivoire', 'CIV', 1970, 2.242368, 0.0, 2.242368, 0.0, 0.0, 0.0, NULL, 0.409409),
('Côte d Ivoire', 'CIV', 1971, 2.45488, 0.0, 2.45488, 0.0, 0.0, 0.0, NULL, 0.42926),
('Côte d Ivoire', 'CIV', 1972, 2.71136, 0.0, 2.71136, 0.0, 0.0, 0.0, NULL, 0.453406),
('Côte d Ivoire', 'CIV', 1973, 2.87624, 0.0, 2.87624, 0.0, 0.0, 0.0, NULL, 0.459656),
('Côte d Ivoire', 'CIV', 1974, 3.24264, 0.0, 3.24264, 0.0, 0.0, 0.0, NULL, 0.495141),
('Côte d Ivoire', 'CIV', 1975, 3.986432, 0.0, 3.986432, 0.0, 0.0, 0.0, NULL, 0.581623),
('Côte d Ivoire', 'CIV', 1976, 3.960784, 0.0, 3.960784, 0.0, 0.0, 0.0, NULL, 0.554523),
('Côte d Ivoire', 'CIV', 1977, 4.052384, 0.0, 4.052384, 0.0, 0.0, 0.0, NULL, 0.546445),
('Côte d Ivoire', 'CIV', 1978, 4.814496, 0.0, 4.814496, 0.0, 0.0, 0.0, NULL, 0.625193),
('Côte d Ivoire', 'CIV', 1979, 5.419056, 0.0, 5.419056, 0.0, 0.0, 0.0, NULL, 0.67769),
('Côte d Ivoire', 'CIV', 1980, 5.56928, 0.0, 5.56928, 0.0, 0.0, 0.0, NULL, 0.67069),
('Côte d Ivoire', 'CIV', 1981, 3.86552, 0.0, 3.86552, 0.0, 0.0, 0.0, NULL, 0.448352),
('Côte d Ivoire', 'CIV', 1982, 5.554624, 0.0, 5.554624, 0.0, 0.0, 0.0, NULL, 0.620759),
('Côte d Ivoire', 'CIV', 1983, 4.517712, 0.0, 4.517712, 0.0, 0.0, 0.0, NULL, 0.486715),
('Côte d Ivoire', 'CIV', 1984, 5.133264, 0.0, 5.133264, 0.0, 0.0, 0.0, NULL, 0.533525),
('Côte d Ivoire', 'CIV', 1985, 6.983584, 0.0, 6.983584, 0.0, 0.0, 0.0, NULL, 0.700876),
('Côte d Ivoire', 'CIV', 1986, 5.576608, 0.0, 5.576608, 0.0, 0.0, 0.0, NULL, 0.540922),
('Côte d Ivoire', 'CIV', 1987, 7.349984, 0.0, 7.349984, 0.0, 0.0, 0.0, NULL, 0.689266),
('Côte d Ivoire', 'CIV', 1988, 8.804592, 0.0, 8.804592, 0.0, 0.0, 0.0, NULL, 0.797287),
('Côte d Ivoire', 'CIV', 1989, 8.265984, 0.0, 8.265984, 0.0, 0.0, 0.0, NULL, 0.721105),
('Côte d Ivoire', 'CIV', 1990, 4.78152, 0.0, 4.78152, 0.0, 0.0, 0.0, NULL, 0.401453),
('Côte d Ivoire', 'CIV', 1991, 4.308864, 0.0, 4.308864, 0.0, 0.0, 0.0, NULL, 0.348352),
('Côte d Ivoire', 'CIV', 1992, 3.843536, 0.0, 3.843536, 0.0, 0.0, 0.0, NULL, 0.29938),
('Côte d Ivoire', 'CIV', 1993, 5.09296, 0.0, 5.09296, 0.0, 0.0, 0.0, NULL, 0.382456),
('Côte d Ivoire', 'CIV', 1994, 4.132992, 0.0, 4.132992, 0.0, 0.0, 0.0, NULL, 0.299443),
('Côte d Ivoire', 'CIV', 1995, 6.115469, 0.0, 6.020258, 0.095211, 0.0, 0.0, NULL, 0.427663),
('Côte d Ivoire', 'CIV', 1996, 7.335328, 0.0, 6.477952, 0.857376, 0.0, 0.0, NULL, 0.495264),
('Côte d Ivoire', 'CIV', 1997, 7.012656, 0.0, 5.608659, 1.403998, 0.0, 0.0, NULL, 0.457284),
('Côte d Ivoire', 'CIV', 1998, 6.584208, 0.0, 4.9464, 1.637808, 0.0, 0.0, NULL, 0.415172),
('Côte d Ivoire', 'CIV', 1999, 5.939512, 0.0, 3.548328, 2.391185, 0.0, 0.0, NULL, 0.363364),

In [11]:
df_cont = pd.read_csv("Data Files\\Countries-Continents.csv")

print(df_cont.shape)
df_cont.head()

(194, 2)

  Continent   Country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [12]:
s = "INSERT INTO continents VALUES"

for i in range(df_cont.shape[0]):
    
    ser = df_cont.iloc[i]
    s += f'("{ser[0]}", "{ser[1]}")'
    
    if i != df_cont.shape[0] - 1:
        s += ",\n"
    else:
        s += ";"

print(s)

INSERT INTO continents VALUES("Africa", "Algeria"),
("Africa", "Angola"),
("Africa", "Benin"),
("Africa", "Botswana"),
("Africa", "Burkina"),
("Africa", "Burundi"),
("Africa", "Cameroon"),
("Africa", "Cape Verde"),
("Africa", "Central African Republic"),
("Africa", "Chad"),
("Africa", "Comoros"),
("Africa", "Congo"),
("Africa", "Congo, Democratic Republic of"),
("Africa", "Djibouti"),
("Africa", "Egypt"),
("Africa", "Equatorial Guinea"),
("Africa", "Eritrea"),
("Africa", "Ethiopia"),
("Africa", "Gabon"),
("Africa", "Gambia"),
("Africa", "Ghana"),
("Africa", "Guinea"),
("Africa", "Guinea-Bissau"),
("Africa", "Ivory Coast"),
("Africa", "Kenya"),
("Africa", "Lesotho"),
("Africa", "Liberia"),
("Africa", "Libya"),
("Africa", "Madagascar"),
("Africa", "Malawi"),
("Africa", "Mali"),
("Africa", "Mauritania"),
("Africa", "Mauritius"),
("Africa", "Morocco"),
("Africa", "Mozambique"),
("Africa", "Namibia"),
("Africa", "Niger"),
("Africa", "Nigeria"),
("Africa", "Rwanda"),
("Africa", "Sao Tome and Principe"),
("Africa", "Senegal"),
("Africa", "Seychelles"),
("Africa", "Sierra Leone"),
("Africa", "Somalia"),
("Africa", "South Africa"),
("Africa", "South Sudan"),
("Africa", "Sudan"),
("Africa", "Swaziland"),
("Africa", "Tanzania"),
("Africa", "Togo"),
("Africa", "Tunisia"),
("Africa", "Uganda"),
("Africa", "Zambia"),
("Africa", "Zimbabwe"),
("Asia", "Afghanistan"),
("Asia", "Bahrain"),
("Asia", "Bangladesh"),
("Asia", "Bhutan"),
("Asia", "Brunei"),
("Asia", "Burma (Myanmar)"),
("Asia", "Cambodia"),
("Asia", "China"),
("Asia", "East Timor"),
("Asia", "India"),
("Asia", "Indonesia"),
("Asia", "Iran"),
("Asia", "Iraq"),
("Asia", "Israel"),
("Asia", "Japan"),
("Asia", "Jordan"),
("Asia", "Kazakhstan"),
("Asia", "Korea, North"),
("Asia", "Korea, South"),
("Asia", "Kuwait"),
("Asia", "Kyrgyzstan"),
("Asia", "Laos"),
("Asia", "Lebanon"),
("Asia", "Malaysia"),
("Asia", "Maldives"),
("Asia", "Mongolia"),
("Asia", "Nepal"),
("Asia", "Oman"),
("Asia", "Pakistan"),
("Asia", "Philippines"),
("Asia", "Qatar"),
("Asia", "Russian Federation"),
("Asia", "Saudi Arabia"),
("Asia", "Singapore"),
("Asia", "Sri Lanka"),
("Asia", "Syria"),
("Asia", "Tajikistan"),
("Asia", "Thailand"),
("Asia", "Turkey"),
("Asia", "Turkmenistan"),
("Asia", "United Arab Emirates"),
("Asia", "Uzbekistan"),
("Asia", "Vietnam"),
("Asia", "Yemen"),
("Europe", "Albania"),
("Europe", "Andorra"),
("Europe", "Armenia"),
("Europe", "Austria"),
("Europe", "Azerbaijan"),
("Europe", "Belarus"),
("Europe", "Belgium"),
("Europe", "Bosnia and Herzegovina"),
("Europe", "Bulgaria"),
("Europe", "Croatia"),
("Europe", "Cyprus"),
("Europe", "CZ"),
("Europe", "Denmark"),
("Europe", "Estonia"),
("Europe", "Finland"),
("Europe", "France"),
("Europe", "Georgia"),
("Europe", "Germany"),
("Europe", "Greece"),
("Europe", "Hungary"),
("Europe", "Iceland"),
("Europe", "Ireland"),
("Europe", "Italy"),
("Europe", "Latvia"),
("Europe", "Liechtenstein"),
("Europe", "Lithuania"),
("Europe", "Luxembourg"),
("Europe", "Macedonia"),
("Europe", "Malta"),
("Europe", "Moldova"),
("Europe", "Monaco"),
("Europe", "Montenegro"),
("Europe", "Netherlands"),
("Europe", "Norway"),
("Europe", "Poland"),
("Europe", "Portugal"),
("Europe", "Romania"),
("Europe", "San Marino"),
("Europe", "Serbia"),
("Europe", "Slovakia"),
("Europe", "Slovenia"),
("Europe", "Spain"),
("Europe", "Sweden"),
("Europe", "Switzerland"),
("Europe", "Ukraine"),
("Europe", "United Kingdom"),
("Europe", "Vatican City"),
("North America", "Antigua and Barbuda"),
("North America", "Bahamas"),
("North America", "Barbados"),
("North America", "Belize"),
("North America", "Canada"),
("North America", "Costa Rica"),
("North America", "Cuba"),
("North America", "Dominica"),
("North America", "Dominican Republic"),
("North America", "El Salvador"),
("North America", "Grenada"),
("North America", "Guatemala"),
("North America", "Haiti"),
("North America", "Honduras"),
("North America", "Jamaica"),
("North America", "Mexico"),
("North America", "Nicaragua"),
("North America", "Panama"),
("North America", "Saint Kitts and Nevis"),
("North America", "Saint Lucia"),
("North America", "Saint Vincent and the Grenadines"),
("North America", "Trinidad and Tobago"),
("North America", "US"),
("Oceania", "Australia"),
("Oceania", "Fiji"),
("Oceania", "Kiribati"),
("Oceania", "Marshall Islands"),
("Oceania", "Micronesia"),
("Oceania", "Nauru"),
("Oceania", "New Zealand"),
("Oceania", "Palau"),
("Oceania", "Papua New Guinea"),
("Oceania", "Samoa"),
("Oceania", "Solomon Islands"),
("Oceania", "Tonga"),
("Oceania", "Tuvalu"),
("Oceania", "Vanuatu"),
("South America", "Argentina"),
("South America", "Bolivia"),
("South America", "Brazil"),
("South America", "Chile"),
("South America", "Colombia"),
("South America", "Ecuador"),
("South America", "Guyana"),
("South America", "Paraguay"),
("South America", "Peru"),
("South America", "Suriname"),
("South America", "Uruguay"),
("South America", "Venezuela");

In [13]:
df_cont = pd.read_csv("Data Files\\Continent Data.csv")
print(df_cont.shape)

df_cont.drop(columns=["Code", "Year"], inplace=True)
df_cont.rename(columns={"Entity" : "Country"}, inplace=True)

df_cont.head()

(285, 4)

                 Country Continent
0               Abkhazia      Asia
1            Afghanistan      Asia
2  Akrotiri and Dhekelia      Asia
3                Albania    Europe
4                Algeria    Africa

In [14]:
s = "INSERT INTO continents VALUES"

for i in range(df_cont.shape[0]):
    
    ser = df_cont.iloc[i]
    s += f'("{ser[0]}", "{ser[1]}")'
    
    if i != df_cont.shape[0] - 1:
        s += ",\n"
    else:
        s += ";"

print(s)

INSERT INTO continents VALUES("Abkhazia", "Asia"),
("Afghanistan", "Asia"),
("Akrotiri and Dhekelia", "Asia"),
("Albania", "Europe"),
("Algeria", "Africa"),
("American Samoa", "Oceania"),
("Andorra", "Europe"),
("Angola", "Africa"),
("Anguilla", "North America"),
("Antarctica", "Antarctica"),
("Antigua and Barbuda", "North America"),
("Argentina", "South America"),
("Armenia", "Asia"),
("Aruba", "North America"),
("Australia", "Oceania"),
("Austria", "Europe"),
("Austria-Hungary", "Europe"),
("Azerbaijan", "Asia"),
("Baden", "Europe"),
("Bahamas", "North America"),
("Bahrain", "Asia"),
("Bangladesh", "Asia"),
("Barbados", "North America"),
("Bavaria", "Europe"),
("Belarus", "Europe"),
("Belgium", "Europe"),
("Belize", "North America"),
("Benin", "Africa"),
("Bermuda", "North America"),
("Bhutan", "Asia"),
("Bolivia", "South America"),
("Bonaire Sint Eustatius and Saba", "North America"),
("Bosnia and Herzegovina", "Europe"),
("Botswana", "Africa"),
("Bouvet Island", "Antarctica"),
("Brazil", "South America"),
("British Indian Ocean Territory", "Asia"),
("British Virgin Islands", "North America"),
("Brunei", "Asia"),
("Bulgaria", "Europe"),
("Burkina Faso", "Africa"),
("Burundi", "Africa"),
("Cambodia", "Asia"),
("Cameroon", "Africa"),
("Canada", "North America"),
("Cape Verde", "Africa"),
("Cayman Islands", "North America"),
("Central African Republic", "Africa"),
("Chad", "Africa"),
("Channel Islands", "Europe"),
("Chile", "South America"),
("China", "Asia"),
("Christmas Island", "Asia"),
("Cocos Islands", "Asia"),
("Colombia", "South America"),
("Comoros", "Africa"),
("Congo", "Africa"),
("Cook Islands", "Oceania"),
("Costa Rica", "North America"),
("Cote d'Ivoire", "Africa"),
("Croatia", "Europe"),
("Cuba", "North America"),
("Curacao", "North America"),
("Cyprus", "Europe"),
("Czechia", "Europe"),
("Czechoslovakia", "Europe"),
("Democratic Republic of Congo", "Africa"),
("Denmark", "Europe"),
("Djibouti", "Africa"),
("Dominica", "North America"),
("Dominican Republic", "North America"),
("East Germany", "Europe"),
("Ecuador", "South America"),
("Egypt", "Africa"),
("El Salvador", "North America"),
("Equatorial Guinea", "Africa"),
("Eritrea", "Africa"),
("Eritrea and Ethiopia", "Africa"),
("Estonia", "Europe"),
("Eswatini", "Africa"),
("Ethiopia", "Africa"),
("Faeroe Islands", "Europe"),
("Falkland Islands", "South America"),
("Fiji", "Oceania"),
("Finland", "Europe"),
("France", "Europe"),
("French Guiana", "South America"),
("French Polynesia", "Oceania"),
("French Southern Territories", "Antarctica"),
("Gabon", "Africa"),
("Gambia", "Africa"),
("Georgia", "Asia"),
("Germany", "Europe"),
("Ghana", "Africa"),
("Gibraltar", "Europe"),
("Greece", "Europe"),
("Greenland", "North America"),
("Grenada", "North America"),
("Guadeloupe", "North America"),
("Guam", "Oceania"),
("Guatemala", "North America"),
("Guernsey", "Europe"),
("Guinea", "Africa"),
("Guinea-Bissau", "Africa"),
("Guyana", "South America"),
("Haiti", "North America"),
("Hanover", "Europe"),
("Heard Island and McDonald Islands", "Antarctica"),
("Hesse Electoral", "Europe"),
("Hesse Grand Ducal", "Europe"),
("Honduras", "North America"),
("Hong Kong", "Asia"),
("Hungary", "Europe"),
("Iceland", "Europe"),
("India", "Asia"),
("Indonesia", "Asia"),
("Iran", "Asia"),
("Iraq", "Asia"),
("Ireland", "Europe"),
("Isle of Man", "Europe"),
("Israel", "Asia"),
("Italy", "Europe"),
("Jamaica", "North America"),
("Japan", "Asia"),
("Jersey", "Europe"),
("Jordan", "Asia"),
("Kazakhstan", "Asia"),
("Kenya", "Africa"),
("Kiribati", "Oceania"),
("Kosovo", "Europe"),
("Kuwait", "Asia"),
("Kyrgyzstan", "Asia"),
("Laos", "Asia"),
("Latvia", "Europe"),
("Lebanon", "Asia"),
("Lesotho", "Africa"),
("Liberia", "Africa"),
("Libya", "Africa"),
("Liechtenstein", "Europe"),
("Lithuania", "Europe"),
("Luxembourg", "Europe"),
("Macao", "Asia"),
("Madagascar", "Africa"),
("Malawi", "Africa"),
("Malaysia", "Asia"),
("Maldives", "Asia"),
("Mali", "Africa"),
("Malta", "Europe"),
("Marshall Islands", "Oceania"),
("Martinique", "North America"),
("Mauritania", "Africa"),
("Mauritius", "Africa"),
("Mayotte", "Africa"),
("Mecklenburg Schwerin", "Europe"),
("Mexico", "North America"),
("Micronesia (country)", "Oceania"),
("Modena", "Europe"),
("Moldova", "Europe"),
("Monaco", "Europe"),
("Mongolia", "Asia"),
("Montenegro", "Europe"),
("Montserrat", "North America"),
("Morocco", "Africa"),
("Mozambique", "Africa"),
("Myanmar", "Asia"),
("Nagorno-Karabakh", "Asia"),
("Namibia", "Africa"),
("Nauru", "Oceania"),
("Nepal", "Asia"),
("Netherlands", "Europe"),
("Netherlands Antilles", "North America"),
("New Caledonia", "Oceania"),
("New Zealand", "Oceania"),
("Nicaragua", "North America"),
("Niger", "Africa"),
("Nigeria", "Africa"),
("Niue", "Oceania"),
("Norfolk Island", "Oceania"),
("North Korea", "Asia"),
("North Macedonia", "Europe"),
("Northern Cyprus", "Asia"),
("Northern Mariana Islands", "Oceania"),
("Norway", "Europe"),
("Oman", "Asia"),
("Pakistan", "Asia"),
("Palau", "Oceania"),
("Palestine", "Asia"),
("Panama", "North America"),
("Papua New Guinea", "Oceania"),
("Paraguay", "South America"),
("Parma", "Europe"),
("Peru", "South America"),
("Philippines", "Asia"),
("Pitcairn", "Oceania"),
("Poland", "Europe"),
("Portugal", "Europe"),
("Puerto Rico", "North America"),
("Qatar", "Asia"),
("Republic of Vietnam", "Asia"),
("Reunion", "Africa"),
("Romania", "Europe"),
("Russia", "Europe"),
("Rwanda", "Africa"),
("Saint Barthélemy", "North America"),
("Saint Helena", "Africa"),
("Saint Kitts and Nevis", "North America"),
("Saint Lucia", "North America"),
("Saint Martin (French part)", "North America"),
("Saint Pierre and Miquelon", "North America"),
("Saint Vincent and the Grenadines", "North America"),
("Samoa", "Oceania"),
("San Marino", "Europe"),
("Sao Tome and Principe", "Africa"),
("Saudi Arabia", "Asia"),
("Saxony", "Europe"),
("Senegal", "Africa"),
("Serbia", "Europe"),
("Serbia and Montenegro", "Europe"),
("Serbia excluding Kosovo", "Europe"),
("Seychelles", "Africa"),
("Sierra Leone", "Africa"),
("Singapore", "Asia"),
("Sint Maarten (Dutch part)", "North America"),
("Slovakia", "Europe"),
("Slovenia", "Europe"),
("Solomon Islands", "Oceania"),
("Somalia", "Africa"),
("Somaliland", "Africa"),
("South Africa", "Africa"),
("South Georgia and the South Sandwich Islands", "South America"),
("South Korea", "Asia"),
("South Ossetia", "Asia"),
("South Sudan", "Africa"),
("Spain", "Europe"),
("Sri Lanka", "Asia"),
("Sudan", "Africa"),
("Suriname", "South America"),
("Svalbard and Jan Mayen", "Europe"),
("Sweden", "Europe"),
("Switzerland", "Europe"),
("Syria", "Asia"),
("Taiwan", "Asia"),
("Tajikistan", "Asia"),
("Tanzania", "Africa"),
("Thailand", "Asia"),
("Timor", "Asia"),
("Togo", "Africa"),
("Tokelau", "Oceania"),
("Tonga", "Oceania"),
("Transnistria", "Europe"),
("Trinidad and Tobago", "North America"),
("Tunisia", "Africa"),
("Turkey", "Asia"),
("Turkmenistan", "Asia"),
("Turks and Caicos Islands", "North America"),
("Tuscany", "Europe"),
("Tuvalu", "Oceania"),
("Two Sicilies", "Europe"),
("USSR", "Europe"),
("Uganda", "Africa"),
("Ukraine", "Europe"),
("United Arab Emirates", "Asia"),
("United Kingdom", "Europe"),
("United Korea", "Asia"),
("United States", "North America"),
("United States Minor Outlying Islands", "Oceania"),
("United States Virgin Islands", "North America"),
("Uruguay", "South America"),
("Uzbekistan", "Asia"),
("Vanuatu", "Oceania"),
("Vatican", "Europe"),
("Venezuela", "South America"),
("Vietnam", "Asia"),
("Wallis and Futuna", "Oceania"),
("West Germany", "Europe"),
("Western Sahara", "Africa"),
("Wuerttemburg", "Europe"),
("Yemen", "Asia"),
("Yemen Arab Republic", "Asia"),
("Yemen People's Republic", "Asia"),
("Yugoslavia", "Europe"),
("Zambia", "Africa"),
("Zanzibar", "Africa"),
("Zimbabwe", "Africa"),
("Åland Islands", "Europe");